# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea/
/core/solovyov-trolling.sh

/core/last_check_time.txt
/core/auth_credentials.json

core/info.log
core/error.log

